.Characters {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.character-cointainer {
 /* background-color: #E5E7E9;
 border-radius: 10px;
 box-shadow: 10px 10px 40px #34495E,
-10px -10px 40px #ECF0F1; */

border-radius: 21px;
background: #E5E7E9;
box-shadow:  20px 20px 43px #b0b2b3,
             -20px -20px 43px #ffffff;
}

.character-image {
    object-fit: fill;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.character-cointainer button {
    padding: 10px 15px;
    color: white;
    background: #34495E;
    border: transparent;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

button:hover {
    outline: black 3px solid;
    cursor: pointer;
    background-color: #212F3C;
}

.favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: start;
}

.favorites-container li {
    list-style: none;
    padding: 5px 20px;
}


